[submodule ".pipeline"]
	path = .pipeline
	url = https://github.com/bcgov/cas-pipeline.git
[submodule "metabase"]
	path = metabase
	url = https://github.com/bcgov/cas-ggircs-metabase.git
	branch = bcgov
